<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/hasil_layouting.css">
        <title>margin belajar</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>MyWebsite</h1>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">contact</a></li>
            </div>

            <div class="akaler"></div>

            <div class="artikel">
                <h2>Judul Artikel</h2>
                <p class="penulis">ditulis oleh <a href="#">toolop</a> pada 1 januari 2021</p>
                <div class="isiartikel">
                    <p>
                        Lorem ipsum dolor sit samet consectetur adipisicing elit. Odit ipsam tempora sit quaerat nulla recusandae libero veritatis quidem dolore ad illum, aliquid nobis ducimus quae unde possimus fugiat cupiditate at?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem consectetur cumque repudiandae magnam, ut ratione, facilis autem voluptatum natus sint, molestiae unde optio nihil. Dicta distinctio quidem maxime facere quae!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci est consectetur porro velit illum. Nemo amet laudantium aperiam eveniet sapiente et hic error voluptatem quibusdam. Vitae eum eveniet dolor deserunt!
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore error sapiente vero consectetur impedit! Modi omnis cupiditate aut, totam consectetur nihil alias sint possimus aperiam pariatur laboriosam perspiciatis molestias ullam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illum maiores, esse molestiae ut neque distinctio cupiditate voluptatum sint adipisci ipsum quasi cum consectetur accusantium! Harum delectus labore at alias.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, itaque! Tempora, dolor illo ex nisi placeat ut, voluptate ratione consequatur distinctio voluptatibus ea inventore voluptatum molestiae fuga nulla saepe repudiandae?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur a maxime hic deserunt omnis aut quo autem! Quasi unde atque quaerat itaque aspernatur vitae nostrum ratione eligendi, aut laudantium asperiores?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam beatae odit fugiat, ex, nostrum ratione temporibus molestias quae quidem, eius dolorem. Quas fugiat amet eligendi quibusdam hic eaque nihil ear
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos odio alias voluptatem sunt, dolor modi animi blanditiis error nesciunt quae molestias ratione consectetur id quis laudantium. Libero consectetur autem cupiditate.
                    </p>
                </div>
            </div>
    
            <div class="footer">
                <p>
                Copyright 2021. toolop all rights reserved
                </p>
            </div>
        </div>
    </body>
</html>