<!DOCTYPE html>
<html>
    <head>
        <title>layouting</title>
        <link rel="stylesheet" href="../static/layouting.css">
    </head>
    <body>
        <div class="header">
            <h1>layouting</h1>
        </div>

        <div class="navigasi">
            <h2>Dafter Link</h2>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
        </div>

        <div class="isi">
            <h2>Judul Artikel</h2>
            <div class="gambar">
                <a href="#">web2021s</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Delectus dicta velit iure 
                voluptas incidunt unde asperiores nemo perferendis
                 quam optio rem sunt, vitae corporis quisquam 
                recusandae tempora magnam alias! Dignissimos?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                elit. Minus, pariatur laborum mollitia eaque eum 
                dolores provident! Incidunt ipsum, obcaecati quaerat 
                ipsam fugiat 
                distinctio alias suscipit recusandae quod 
                beatae debitis nemo!</p>
        </div>
        
        <div class="footer">
            <p>@ Copyright 2021.Toolop</p>
        </div>
        
    </body>
</html>