<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="../../static/home icos/coursel.css">
        <title>Icositer</title>
        <link rel = "icon" href = "../../static/home icos/logoicos.jpeg" type = "image/x-icon">
    </head>

    <body>

        <header>
            <br>
            <h1 id="icos">
                    ICoSITeR
            </h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="#copyright">Web ICoSITeR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Link</a>
                </li>
                </li>
            </ul><br>

        </header>

        <!-- caraousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                    <img src="../../static/home icos/Akali_8.jpg">
              </div>
              <div class="carousel-item">
                    <img src="../../static/home icos/Ezreal_19.jpg">
              </div>
              <div class="carousel-item">
                    <img src="../../static/home icos/AurelionSol_1.jpg">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
        <!--website-->
          <div id="website">
              <h2>Website ICoSITeR</h2>
              <ul id="tahunlalu">
                  <li id="2018">2018</li>
                  <li id="2019">2019</li>
                  <li id="2020">2020</li>
                  <li id="2021">2021</li>
              </ul>
          </div>

        <footer id="copyright" class="bottom bg-dark text-light">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright Toolop
              </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </body>
</html>