#icos{
    text-align: center;
}
.carousel-item{
    height: 32rem;
    background:#777;
}
.carousel-item >img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}
#copyright{
    bottom: 0px;
    width: 100%;
}
#tahunlalu{
    list-style: none;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
}

#tahunlalu li{
    margin: 30px;
    padding: 100px;
    background-color: #777;
    display: inline;
}